body {
    margin:0;
}

form {
    background-color: #213b50;
    width: 50%;
    color: #fff;
    padding: 20px;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #fff;
    background-color: #4e708c;
}

label,
input,
textarea{
    display: block;
}

.frame {
    background-color: #2b4a64;
    color: #fff;
    border: 0;
    outline: 0;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    float: left;
}

#agreement-text {
    display: inline-block;
    margin: 0;
    width: 90%;
}

#submit {
    background-color: green;
    color: white;
    width: 80px;
    height: 30px;
    text-transform: uppercase;
}

.clear {
    clear:both;
}